body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #8E684D;
}

.logo {
    color: #fff;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.7s ease;
}

nav ul li a:hover {
      background-color: #6B4E41; /* Lighter brown */
}

/* Responsive styles 크기 조정*/
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 15px 0;
        text-align: center;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}

.subtitle{
	width: 800px;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	color: #777777; /*  light gray text color */
	
}

.second-nav {
    background-color: #FFFFFF;
    border-top: 2px solid #CC0000;
    border-bottom: 2px solid #CC0000;
}

.second-nav table {
    width: 100%;
    border-collapse: collapse; /* This will remove any spacing between the cells */
}

.second-nav td {
    border: 3px solid #CC0000;
    text-align: center;
	width: 25%;
}

.second-nav td a {
    text-decoration: none;
    font-size: 20px;
	font-weight: bold;
    padding: 10px 15px;
    display: block;
	transition: background-color 0.7s ease;
}

.second-nav td a:hover {
    background-color: #F5DEB3; /* Dark Vanilla (off-white/light cream) */
}

/* Link pseudo classes */
/* unvisited link colored blue */
.second-nav a:link {
    color: #6495ED;
}

/* visited link colored purple*/
.second-nav a:visited {
    color: purple;
}

/* mouse over link colored red when mouse cursor is nearby*/
.second-nav a:hover {
    color: white;
}

/* selected link colored green */
.second-nav a:active {
    color: green;
}

.section-content {
    padding: 20px;
    border-bottom: 1px solid #8E684D;  /* A subtle border between sections */
    margin: 20px 0;  /* Vertical spacing */
}

.section-content h2 {
    font-size: 28px;  
    border-bottom: 1px solid #8E684D;  /* A subtle border under the title */
    padding-bottom: 10px;  /* Padding under the title */
    margin-bottom: 20px;  /* Space between the title and content */
}


.title {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}



.footer-content {
    background-color: #8E684D;
    padding: 20px 50px;
    text-align: center;
}

.icons img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

.back-to-top {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.7s ease;
}

.back-to-top:hover {
    background-color: #6B4E41; 
}
